<fd-shellbar>
  <button
    fd-shellbar-side-nav
    fd-button
    [fdType]="'transparent'"
    [glyph]="'menu2'"
    (click)="condensed = !condensed"
  ></button>
  <fd-icon style="font-size: 2rem" [glyph]="'accept'"></fd-icon>
  <fd-shellbar-logo>
    <a href="" class="fd-shellbar__logo fd-shellbar__logo--image-replaced" aria-label="SAP"></a>
  </fd-shellbar-logo>
  <fd-shellbar-title> Web Appl </fd-shellbar-title>
  <fd-shellbar-actions [user]="user" [userMenu]="userMenu" [closePopoverOnSelect]="true"></fd-shellbar-actions>
</fd-shellbar>
