<div class="dash">
  <button fd-button label="Create Project" [fdType]="'emphasized'"  class="button"  (click)="create()"></button>
  <div class="boards">
    <div class="board">
      <fd-layout-panel>
        <fd-layout-panel-header>
          <fd-layout-panel-head>
            <h2 fd-layout-panel-title>Projects</h2>
          </fd-layout-panel-head>
        </fd-layout-panel-header>
        <fd-layout-panel-filters>
          Projects
        </fd-layout-panel-filters>
        <fd-layout-panel-filters>
          Projects
        </fd-layout-panel-filters>
      </fd-layout-panel>
    </div>
    <div class="board">
      <fd-layout-panel>
        <fd-layout-panel-header>
          <fd-layout-panel-head>
            <h2 fd-layout-panel-title>Projects</h2>
          </fd-layout-panel-head>
        </fd-layout-panel-header>
        <fd-layout-panel-filters>
          Projects
        </fd-layout-panel-filters>
        <fd-layout-panel-filters>
          Projects
        </fd-layout-panel-filters>
      </fd-layout-panel>
    </div>
  </div>
</div>

