.content {
  display: flex;
  height: 100vh;

  justify-content: center;
}
.dash {
  display: flex;
  flex-direction: column;
}

.button {
  width: fit-content;
}
.create {
  display: flex;
  justify-content: flex-end;
}

.projects {
  display: flex;
}

.list {
  box-shadow: -1px 0px 11px -1px #3f3f3f;
}
.boards {
  flex-wrap: wrap;

  display: flex;
  justify-content: space-between;
}

.board {
  width: 45%;
}
.dele{
  display: none;
}
.dele:hover{
  display: inline;
}

.project:hover {
  cursor: pointer;
}
